[Desktop Entry]
Version=0.1
Name=Organes
Comment=Organes
Exec=organes
Icon=/usr/share/applications/interactivesvg/organes/favicon.png
Terminal=false
Type=Application
Categories=Graphics;Illustration;
Keywords=svg;interactive;education;organes;coeur;poumons;
Name[fr_FR]=organes.desktop
