[Desktop Entry]
Version=0.1
Name=Organes
Comment=Organes
Exec=organes
Icon=organes
Terminal=false
Type=Application
Categories=Graphics;Illustration;
Keywords=svg;interactive;education;organes;coeur;poumons;corps;pancréas;rein;estomas;rate;vessie;intestin;cerveau;foie;
Name[fr_FR]=Les organes du corps humain
