[Desktop Entry]
Version=0.1
Name=Campement-paleolitique
Comment=Campement Paléolitique
Exec=campement-paleolitique
Icon=campement-paleolitique
Terminal=false
Type=Application
Categories=Graphics;Illustration;
Keywords=svg;interactive;education;paléolitique;préhistoire;
Name[fr_FR]=Illustration interactive d'un camp paléolitique
