Source: interactivesvg
Section: education
Version: 0.1
Priority: extra
Maintainer: Ferry Jérémie <jerem.ferry@gmail.com>
Build-Depends: debhelper (>= 9)

Package: interactivesvg
Version: 0.1
Architecture: all
Maintainer: Ferry Jérémie <jerem.ferry@gmail.com>
Depends: firefox | firefox-esr, ${misc:Depends}
Description: Des illustrations interactives
