[Desktop Entry]
Version=0.1
Name=Apprende la météo
Comment=Apprende la météo
Exec=weather
Icon=/usr/share/applications/interactivesvg/weather/favicon.png
Terminal=false
Type=Application
Categories=Graphics;Illustration;
Keywords=svg;interactive;education;météo;soleil;pluie;
Name[fr_FR]=Apprende la météo
